<div class="container centered">
  <h2> Thanks for registering in El Refugio, now go and see our <a href="/users/animals"> animals </a> </h2>
  <p> Name: <%= @user.name %></p>
  <p> Contact details: <%= @user.contact_details %></p>
</div>
