<div class="registration-form">
  <form class="centered" method="post" action="/users/new_user">

  <label class="block" for="name"> Full Name:</label>
  <input type="text" name="name" id="name"  placeholder="put your name here">

  <label class="block" for="contact_details"> Add contact details:</label>
  <input type="text" name="contact_details" id="contact_details"  placeholder="Add your contact details here">

  <div class="block">
    <input type="submit" value="Register as a new user">
  </div>
  </form>
</div>
