<form method="post" action="/users/new_user/created">

<label for="name"> Full Name:</label>
<input type="text" name="name" id="name"  placeholder="put your name here">

<label for="contact_details"> Add contact details:</label>
<input type="text" name="contact_details" id="contact_details"  placeholder="Add your contact details here">


<input type="submit" value="Register as a new user">
</form>
