<div class="registration-form">
  <form class="centered" method="post" action="/users/edit/<%= @user_to_update.id %>">

    <label class="block" for="name"> Name:</label>
    <input type="text" name="name" id="name"  value="<%= @user_to_update.name %>">

    <label class="block" for="contact_details"> Contact Details:</label>
    <input type="text" name="contact_details" id="contact_details"  value="<%= @user_to_update.contact_details %>">
    <div class="block">
      <input type="submit" value="Update profile">
    </div>
  </form>
</div>
