<div class="container centered">
  <h2> In order to update your profile, please Login:</h2>
  <% for user in @users %>
    <p>Full Name: <%= user.name %></p>
    <p>Contact Details: <%= user.contact_details %></p>

    <form method="get" action="/users/edit/<%= user.id %>">
      <input class="light" type="submit" value="Login & Edit!">
    </form>
    <hr />
  <%end  %>
</div>
