<h2> The following adoption process has been completed: </h2>
<p> <%= @animal.name %> has been adopted by <%= @owner.name  %> !</p>
<img src="<%= @animal.picture%>" alt="Animal picture">
<p>look at that happy face!</p>
<p>Click <a href="/adoptions"> here </a> to see all the adoptions </p>
