<div class="registration-form">

<form class="centered" method="post" action="/animals">

<label class= "block" for="name"> Name:</label>
<input type="text" name="name" id="name"  placeholder="put the animal name here">

<label class= "block"for="type_id"> Select a type of animal:</label>
<select name="type_id" id="type_id">
<% for type in @types %>
  <option value="<%= type.id %>"> <%= type.name %></option>
<%end  %>
</select>

<label class= "block" for="age">Age: </label>
<input type="number" name="age" id="age">

<label class= "block" for="admision_date">Admision date: </label>
<input type="date" name="admision_date" id="admision_date">

<label class= "block" for="picture"> Add picture Link:</label>
<input type="text" name="picture" id="picture"  placeholder="Add picture link here">

<label class= "block" for="adoptable"> Is this animal ready for adoption?</label>
<select name="adoptable" id="adoptable">
<option value= true> Yes </option>
<option value= false> not yet </option>
</select>

<div class="hide">
  <label for="adopted"> Is this animal adopted?</label>
  <select name="adopted" id="adopted">
    <option selected value = false > not yet </option>
  </select>
</div>
<div class="block">
<input type="submit" value="Register new Animal">
</div>

</form>
</div>
