<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>El Refugio</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="icon" href="/images/paw_icon.png">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/animals"> All our Animals</a>
      </li>
      <li>
        <a href="/animals/for_adoption"> Animals ready for adoption</a>
      </li>
      <li>
        <a href="/animals/find"> Find </a>
      </li>
      <li>
        <a href="/owners"> check all owners</a>
      </li>
      <li>
        <a href="/adoptions"> check all the adopted animals</a>
      </li>
      <li>
        <a href="/animals/new"> Register an Animal</a>
    </li>
      <li>
        <a href="/owners/new_owner"> Register an Owner</a>
    </li>
      <li>
        <a href="/requests"> See all requests</a>
    </li>
    </ul>
  </nav>

 <%= yield %>
</body>
</html>
