<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>El Refugio</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="icon" href="/images/paw_icon.png">
</head>
<body>
  <nav>
    <ul>
      <li id="align-left">
        <a href="/">El Refugio <i class="fa fa-heart" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="/users/animals"> All our Animals</a>
      </li>
      <li>
        <a href="/users/new_user"> Register new user</a>
    </li>
      <li>
        <a href="/users/edit"> Edit profile</a>
    </li>
    </ul>
  </nav>

 <%= yield %>
</body>
</html>
