<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>El Refugio</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/users/animals"> All our Animals</a>
      </li>
      <li>
        <a href="/users/animals/for_adoption"> Animals ready for adoption</a>
      </li>
      <li>
        <a href="/users/animals/not_ready"> Animals not ready for adoption yet</a>
      </li>
      <li>
        <a href="/users/animals/find"> Find </a>
      </li>
      <li>
        <a href="/users/new_user"> Register new user</a>
    </li>
    </ul>
  </nav>

 <%= yield %>
</body>
</html>
