<!DOCTYPE html>
<html>
<head>
	<title>El Refugio</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/styles/landing.css">
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>
<body>
 <%= yield %>
</body>
</html>
