
<div class="container">
  <div id="content">
    <h1>El Refugio</h1>
    <h3> There is always place for one more</h3>
    <hr>
    <form action="/animals">
    <button class="btn btn-default btn-lg"><i class="fas fa-paw"></i>  Management System</button>
    </form>


  </div>
</div>
