li {
  list-style: none;
  text-align: center;
  justify-content: center;
}

nav {
  display: inline;
  text-align: center;

}

img {
  height: 200px;
  width: auto;
  }

h2  {
  text-align: center;
}

.hide {
  display: none;
}

.centered {
  text-align: center !important;
}
