<div class="container centered">
  <h2> This new owner has been created! show to her/him some of our adorable <a href="/animals"> animals </a> </h2>
  <p> Name: <%= @owner.name %></p>
  <p> Contact details: <%= @owner.contact_details %></p>
</div>
