<h2>Here's the list of all the registered owners in the shelter:</h2>
<hr>

<% for owner in @owners %>
  <p>Full Name: <%= owner.name %></p>
  <p>Contact Details: <%= owner.contact_details %></p>

  <form action="/owners/<%= owner.id %>/edit">
    <input type="submit" value="Edit owner">
  </form>

  <% if owner.have_adopted != true  %>
  <form method="post" action="/owners/<%= owner.id %>/delete">
    <input type="submit" value="Delete Owner">
  </form>
    <% else  %>
    <p> You can't delete an owner who has an adoption. </p>
  <% end  %>
  <hr />
<%end  %>
