<form method="post" action="/owners">

<label for="name"> Full Name:</label>
<input type="text" name="name" id="name"  placeholder="put the owner name here">

<label for="contact_details"> Add contact details:</label>
<input type="text" name="contact_details" id="contact_details"  placeholder="Add contact details here">


<input type="submit" value="Register new Owner">
</form>
