<div class="registration-form">
  <form  class="centered" method="post" action="/owners">

  <label class= "block" for="name"> Full Name:</label>
  <input type="text" name="name" id="name"  placeholder="put owner name here">

  <label class= "block" for="contact_details"> Add contact details:</label>
  <input type="text" name="contact_details" id="contact_details"  placeholder="Add contact details here">

  <div class="block">
    <input class="light" type="submit" value="Register new Owner">
    </form>
  </div>

</div>
